version: '2'

# run the app in development mode

services:
  app:
    build: .
    tty: true
    volumes:
    - .:/code
    environment:
    - DJANGO_MANAGEPY_COLLECTSTATIC=off
    - DJANGO_SETTINGS_MODULE=example.settings
    - SECRET_KEY=secret
    - ALLOWED_HOSTS=*
    - RDS_HOSTNAME=db
    - RDS_PORT=5432
    - RDS_DB_NAME=postgres
    - RDS_USERNAME=postgres
    - RDS_PASSWORD=password
    - EMAIL_HOST=mail
    - EMAIL_PORT=1025
    depends_on:
    - db
    - mail
    ports:
    - 8000:8000
  db:
    image: postgres
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=password
    - POSTGRES_DB=postgres
    - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
    - ./.postgres:/var/lib/postgresql/data/pgdata
    ports:
    - 5432:5432
  mail:
    image: mailhog/mailhog
    ports:
    - 8025:8025
