<form{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" novalidate>
    <h2>{{ value.form.title }}</h2>
    {{ form.media }}
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% regroup form by field.section as section_group %}
    {% for section in section_group %}
        {% if section.grouper %}
            <fieldset>
                <legend>{{ section.grouper.legend }}</legend>
                {% if section.grouper.help_text %}<p>{{ section.grouper.help_text }}</p>{% endif %}
                <div class="row">
                    {% for field in section.list %}
                    <div class="col-12 col-md-6">
                        {% include 'streamforms/partials/form_field.html' %}
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        {% endif %}
    {% endfor %}
    <div class="form-actions">
        <input class="button button-mineshaft" type="submit" value="{{ value.form.submit_button_text }}">
    </div>
</form>
