// Form
// -------------------------------------------------

form h2 {
    margin-bottom: 3rem;
}

form fieldset {
    margin-bottom: $generic-margin-bottom;

    legend {
        border-bottom: solid 2px color("primary");
        line-height: 3.5rem;
        margin-bottom: $generic-margin-bottom;
        width: 100%;
    }

}

form .field-row {

    ul {
        list-style-type: none;
    }

    &.has-error {

        input,
        select,
        textarea {
            border-color: color("red");
        }

        .errorlist {
            margin-bottom: 0;
            float: right;
            list-style-type: none;
            color: color("red");
        }

    }

}

form .form-actions {
    padding-top: 3rem;
}
