// layout
// -------------------------------------------------

header {
    @include box-shadow(0, 0, 10px, color("gray"));
    background: color("primary");
    margin-bottom: 5rem;
    padding: 5rem 0;

    h1 {
        color: color("white");
    }
}

footer {
    padding-top: 10rem;

    .links {
        list-style-type: none;

        li {
            display: inline;
        }

        li + li {
            margin-left: 2rem;
        }
    }
}