// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

/*
* start with a copy of the current varables file:
* https://github.com/AccentDesign/karma-css/blob/master/scss/_variables.scss
*/

// forms
$input-use-full-width:          true; // false = max-width:100%, true = width:100%