{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with form_title=object.title|capfirst %}Copy of {{ form_title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-explorer{% endblock %}

{% block content %}
    {% trans "Copy" as copy_str %}
    {% include "wagtailadmin/shared/header.html" with title=copy_str subtitle=object.title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <p>{% trans 'Are you sure you want to copy this form?' %}</p>
        <form action="." method="POST" novalidate>
            {% csrf_token %}
            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        {% include "wagtailadmin/shared/field.html" %}
                    {% endfor %}
                {% endblock %}
                <li>
                    <input type="submit" value="{% trans 'Copy' %}" class="button" />
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
