{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% blocktrans with form_title=object.title|capfirst %}Submissions of {{ form_title }}{% endblocktrans %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {% include "streamforms/wagtailadmin/shared/datetimepicker_translations.html" %}

    <script>
        $(function() {
            $('#id_date_from').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
            });
            $('#id_date_to').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
            });
            var selectAllCheckbox = document.getElementById('select-all');
            var deleteButton = document.getElementById('delete-submissions');
            var selectedSubmissions = {};
            function updateActions() {
                var submissionCheckboxes = $('input[type=checkbox].select-submission');
                var someSubmissionsSelected = submissionCheckboxes.is(':checked');
                var everySubmissionSelected = !submissionCheckboxes.is(':not(:checked)');
                // Select all box state
                if (everySubmissionSelected) {
                    // Every submission has been selected
                    selectAllCheckbox.checked = true;
                    selectAllCheckbox.indeterminate = false;
                } else if (someSubmissionsSelected) {
                    // At least one, but not all submissions have been selected
                    selectAllCheckbox.checked = false;
                    selectAllCheckbox.indeterminate = true;
                } else {
                    // No submissions have been selected
                    selectAllCheckbox.checked = false;
                    selectAllCheckbox.indeterminate = false;
                }
                // Delete button state
                if (someSubmissionsSelected) {
                    deleteButton.classList.remove('disabled')
                    deleteButton.style.visibility = "visible";
                } else {
                    deleteButton.classList.add('disabled')
                    deleteButton.style.visibility = "hidden";
                }
            }
            // Event handlers
            $(selectAllCheckbox).on('change', function() {
                let checked = this.checked;
                // Update checkbox states
                $('input[type=checkbox].select-submission').each(function() {
                    this.checked = checked;
                });
                updateActions();
            });
            $('input[type=checkbox].select-submission').on('change', function() {
                updateActions();
            });
            // initial call to updateActions to bring delete button state in sync with checkboxes
            // in the case that some checkboxes are pre-checked (which will be the case in some
            // browsers when using the back button)
            $(document).ready(function() { updateActions() });
        });
    </script>
{% endblock %}
{% block content %}
    <header class="w-header w-header--no-borderclassname w-header--merged">
        <div class="row">
            <div class="left">
                <div class="col">
                    <h1 class="w-header__title" id="header-title">
                        {% icon class_name="w-header__glyph" name="form" %}
                        Form Data<span class="w-header__subtitle">{{ object.title|capfirst }}</span>
                    </h1>
                </div>
            </div>
            <div class="right">
            <button name="action" value="CSV"  class="button bicolor icon icon-download">
                {% trans 'Download CSV' %}
            </button>
            </div>
        </div>
    </header>


    <div class="report filterable">
        <div class="report__results w-overflow-y-hidden">
            {% if object_list %}
                <form action="{% url 'wagtailstreamforms:streamforms_delete_submissions' object.id %}" method="get">
                    {% include "streamforms/list_submissions.html" %}

                </form>
            {% else %}
                <p class="no-results-message nice-padding">{% blocktrans with title=object.title %}There have been no submissions of the '{{ title }}' form.{% endblocktrans %}</p>
            {% endif %}
        </div>
        <div class="filterable__filters">
            <h2>{% trans 'Filter' %}</h2>
            <form action="" method="get" novalidate>
                <button
                    class="button button-longrunning"
                    type="submit"
                    data-controller="w-progress"
                    data-action="w-progress#activate"
                >
                    {% icon name="spinner" %}{% trans 'Apply filters' %}
                </button>
                {% for field in filter_form %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
            </form>
        </div>
        {% include "streamforms/partials/pagination_nav.html" with items=page_obj %}
    </div>
{% endblock %}
