{% extends "wagtailforms/index_submissions.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with form_title=object.name|capfirst %}Submissions of {{ form_title }}{% endblocktrans %}{% endblock %}
{% block content %}
    <header class="nice-padding hasform">
        <form action="" method="get" novalidate>
            <div class="row">
                <div class="left">
                    <div class="col">
                        <h1 class="icon icon-form">
                            {% blocktrans with form_title=object.name|capfirst %}Form data <span>{{ form_title }}</span>{% endblocktrans %}
                        </h1>
                    </div>
                    <div class="col search-bar">
                        <ul class="fields row rowflush">
                            {% for field in filter_form %}
                                {% include "wagtailadmin/shared/field_as_li.html" with field=field field_classes="field-small" li_classes="col4" %}
                            {% endfor %}
                            <li class="submit col2">
                                <button name="action" value="filter" class="button button-filter">{% trans 'Filter' %}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <button name="action" value="CSV" class="button bicolor icon icon-download">{% trans 'Download CSV' %}</button>
                </div>
            </div>
        </form>
    </header>
    <div>
        {% if object_list %}
            <form action="{% url 'wagtailstreamforms:streamforms_delete_submissions' object.id %}" method="get">
                {% include "streamforms/list_submissions.html" %}
                {% include "streamforms/partials/pagination_nav.html" with items=page_obj %}
            </form>
        {% else %}
            <p class="no-results-message nice-padding">{% blocktrans with title=object.name %}There have been no submissions of the '{{ title }}' form.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}