---
name: Python Tests

on: [push]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install tox
      - name: Validate formatting
        run: tox -e format

  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        tox_env:
          - py310-dj32-wt41
          - py310-dj40-wt41
          - py310-dj40-wt42
          - py310-dj41-wt40
          - py310-dj41-wt41
          - py310-dj41-wt42
          - py38-dj32-wt41
          - py38-dj41-wt41
          - py38-dj41-wt42
          - py38-dj41-wt41
          - py39-dj32-wt41
          - py39-dj40-wt41
          - py39-dj41-wt41
          - py39-dj41-wt42
        include:
          - python-version: 3.8
            tox_env: py38-dj32-wt41
          - python-version: 3.8
            tox_env: py38-dj40-wt41
          - python-version: 3.8
            tox_env: py38-dj41-wt41
          - python-version: 3.8
            tox_env: py38-dj41-wt42
          - python-version: 3.9
            tox_env: py39-dj32-wt41
          - python-version: 3.9
            tox_env: py39-dj40-wt41
          - python-version: 3.9
            tox_env: py39-dj41-wt41
          - python-version: 3.9
            tox_env: py39-dj41-wt42
          - python-version: "3.10"
            tox_env: py310-dj32-wt41
          - python-version: "3.10"
            tox_env: py310-dj40-wt41
          - python-version: "3.10"
            tox_env: py310-dj41-wt41
          - python-version: "3.10"
            tox_env: py310-dj41-wt42
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        run: tox -e ${{ matrix.tox_env }} -- index-url=https://pypi.python.org/simple/
      - name: Prepare artifacts
        run: mkdir -p .coverage-data && mv .coverage.* .coverage-data/
      - uses: actions/upload-artifact@master
        with:
          name: coverage-data
          path: .coverage-data/

  coverage:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@master
        with:
          name: coverage-data
          path: .
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Prepare Coverage report
        run: tox -e coverage-report
      - name: Upload to codecov
        uses: codecov/codecov-action@v1.0.6
